<div class="container-fluid">
    <h2>Organizations list</h2>

    <div class="list">
        <table class="table">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>Person</th>
                    <th>Role</th>
                    <th>Email & Delivery status</th>
                    <th>Projects</th>
                </tr>
            </thead>
            <tbody>
                {{#each organizations}}
                    <tr>
                        <td>
                            <i class="fa fa-building-o"></i>
                            {{name}}
                        </td>
                        <td>{{_creator.username}}</td>
                        <td>{{_creator.role}}</td>
                        <td>{{_creator.email}}</td>
                        <td></td>
                    </tr>
                    {{#each members}}
                        <tr>
                            <td></td>
                            <td>{{username}}</td>
                            <td>{{role}}</td>
                            <td>{{email}}</td>
                            <td></td>
                        </tr>
                    {{/each}}
                    <tr>
                        <td></td>
                        <td>
                            {{#ifCond ../user.role "admin"}}
                                <a href="#/dashboard/organizations/{{_id}}/add">
                                    <i class="ion-person-add"></i>
                                    Add user
                                </a>
                            {{/ifCond}}

                        </td>
                        <td colspan="3"></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{#ifCond user.role "admin"}}
        <a href="#/dashboard/organizations/new">
            <i class="ion-plus"></i>
            Add new organization
        </a>
    {{/ifCond}}
</div>